.App {
  text-align: center;
}

.logo0 {
width: 150px;
height: 80px;
}

.header {
  padding: 2px;
  background-color: green;
}

.body {
  margin: 20px;
  width: 500px;
  margin-left: 650px;
  /* border: 1px solid black; */
}

.logo11 {
  width: 500px;
  height: auto;
  margin: 20px;
  width: 500px;
  /*border: 1px solid black;*/
}
.imgWatch {
  margin-left: -500px;
  margin-top: -480px;
  margin-right: 500px;
}

.logo1 {
  width: 80px;
  height: auto;
  cursor: pointer;
}
.logo2 {
  width: 80px;
  height: auto;
  cursor: pointer;
}
.logo3 {
  width: 80px;
  height: auto;
  cursor: pointer;
}
.logo4 {
  width: 80px;
  height: auto;
  cursor: pointer;
}

.btn {
  font-size: 18px;
  background-color: grey;
  color: #fff;
  border: none;
  padding: 20px 25px;
  border-radius: 20%;
  cursor: pointer;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


